# Auto detect text files and set LF line endings
* text=auto

# Explicitly set the line ending for specific types of files
*.json text eol=lf
*.js text eol=lf
*.txt text eol=lf
*.sh text eol=lf
